---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=printer%40rental.com&card=tok_15HR1B4yIhAxEA8eCYJjjuth
    headers:
      Authorization:
      - Bearer sk_test_rHluSeEdUXK22flgIESjFoZ2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-28'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1420426510,
          "id": "cus_5SLiABzX7QaImS",
          "livemode": false,
          "description": "printer@rental.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5SLiABzX7QaImS/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5SLiABzX7QaImS/cards",
            "data": [
              {
                "id": "card_15HR1B4yIhAxEA8eMnTZ6z5m",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "Jo1BKBAgLyfJGUsT",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5SLiABzX7QaImS",
                "type": "Visa"
              }
            ]
          },
          "default_card": "card_15HR1B4yIhAxEA8eMnTZ6z5m"
        }
  recorded_at: Mon, 05 Jan 2015 02:55:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_5SLiABzX7QaImS&amount=20000&description=RentABuild%20Printer%20Rental&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_rHluSeEdUXK22flgIESjFoZ2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15HR1P4yIhAxEA8eMkwRF7Xq",
          "object": "charge",
          "created": 1420426511,
          "livemode": false,
          "paid": true,
          "amount": 20000,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15HR1B4yIhAxEA8eMnTZ6z5m",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "Jo1BKBAgLyfJGUsT",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5SLiABzX7QaImS",
            "type": "Visa"
          },
          "balance_transaction": "txn_15HR1P4yIhAxEA8ezHBnAECd",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5SLiABzX7QaImS",
          "invoice": null,
          "description": "RentABuild Printer Rental",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": [],
          "statement_description": null
        }
  recorded_at: Mon, 05 Jan 2015 02:55:11 GMT
recorded_with: VCR 2.9.3
