<div id="hero">
  <div class="container">
    <h1 class="hero-text animated fadeInDown">
      Rentabuild is no longer renting printers.
    </h1>
    <p class="sub-text animated fadeInDown">
      Thanks for your support!
    </p>
  </div>
</div>
