<div ng-controller="RentalCtrl" class='rental-ctrl'>

  <div class='landing-panel landing-main'>
    <div class='row'>
      
      <div class='col-md-12'>
        <h1><%= APP_SETTINGS['application_name'] %></h1>
        <h2>Top name 3D printers delivered to your door.</h2>                
      </div>
      
      <div class='col-md-4 hero-rental'>
        <h3>Rent the Ultimaker II for as little as $90/week</h3>
        
        <ul>
          <li>Heated build plate prevents warping</li>
          <li>Prints PLA, ABS, and U-PET filaments</li>
          <li>20 micron resolution</li>
        </ul>

        <button type="submit" class="btn btn-primary" ng-click="heroChange()">Next</button>
        
        <a>Rent something else?</a>

      </div>

    </div>
  </div>

  <div class='landing-panel landing-description row'>
    <div class='col-md-4'>
      <h3 class='text-center'>Printers are Expensive</h3>
      <div class='large-icon'>
        <%= fa_icon 'dollar' %>
      </div>
      <p class='text-center'>
        Start 3D printing for your projects without breaking the bank.
      </p>
    </div>
    <div class='col-md-4'>
      <h3 class='text-center'>Quality is Unknown</h3>
      <div class='large-icon'>
        <%= fa_icon 'star' %>
      </div>
      <p class='text-center'>
        Make sure a 3D printer gets the job done before purchasing.
      </p>
    </div>
    <div class='col-md-4'>
      <h3 class='text-center'>Design is Iterative</h3>
      <div class='large-icon'>
        <%= fa_icon 'refresh' %>
      </div>
      <p class='text-center'>
        Skip expensive 3D printing services- refine your designs and print as much as you need.
      </p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class='landing-panel landing-pricing row' id="rental-form">    
    <h2>Rent a Printer</h2>  

    <ul class='prices col-md-12'>
      <li class='row' ng-repeat="duration in durations">
        <div class='col-md-6'>{{duration.duration}}</div>
        <div class='col-md-6'>{{duration.cost}}</div>
      </li>
    </ul>

  </div>

</div>