<div ng-controller="RentPrinterCtrl" ng-cloak>

  <div class='row'>
    <div class='col-md-8'>
      <div ng-show="currentStep() == 'get_started'">
        <h3>Get Started</h3>
        <hr/>

        <div class='form-horizontal'>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputEmail" placeholder="your@email.com" ng-model="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputZipcode" class="col-sm-2 control-label">Zipcode</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputZipcode" placeholder="10000" ng-model="zipcode">
            </div>
          </div>
        </div>
      </div>

      <!-- PICK DATES -->

      <div ng-show="currentStep() == 'time_duration'">
        <h3>Rental Dates</h3>
        <p>
          We are currently renting the <strong>Ultimaker II</strong> printer.
          <%= link_to "(More Info)", "https://ultimaker.com/en/products/ultimaker-2-family", target: :blank %>
        </p>
        <hr/>

        <div class='form-horizontal'>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Rental Length</label>
            <div class="col-sm-5">
              <select class="form-control" ng-model="rentalDays" ng-change="datesChanged()">
                <option value="7">7 Days ($150)</option>
                <option value="14">14 Days ($250)</option>
                <option value="21">21 Days ($350)</option>
                <option value="30">30 Days ($450)</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Start Date</label>
            <div class="col-sm-5">
              <p class="input-group">
                <input type="text"
                  class="form-control date-picker-input"
                  datepicker-popup="M/dd/yyyy"
                  ng-model="startDate"
                  is-open="showStartDate"
                  datepicker-options="dateOption"
                  ng-required="true"
                  ng-change="datesChanged()"
                  close-text="Close" />

                <span class="input-group-btn">
                  <button type="button"
                    class="btn btn-default"
                    ng-click="openStartDate($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              </div>
          </div>

        </div>

        <div class='alert alert-warning' ng-show="dateError">
          {{dateError}}
          <ul ng-show="suggestedDates">
            <li ng-repeat="date in suggestedDates">
              Starting {{date.start_date | date: "M/dd/yyyy"}}, ending {{date.end_date | date: "M/dd/yyyy"}}
            </li>
          </ul>
        </div>
        <div class='alert alert-success' ng-show="datesOk">
          These dates are available!
        </div>

      </div>

      <!-- SHIPPING -->

      <div ng-show="currentStep() == 'shipping'">
        <h3>Shipping Info</h3>
        <hr/>

        <div class='form-horizontal'>
          <div class="form-group">
            <div class="radio col-sm-offset-2 col-sm-10">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="local" ng-model="shipping" ng-change="datesChanged()">
                Denver/Boulder Area (Free delivery and pickup)
              </label>
            </div>
            <div class="radio col-sm-offset-2 col-sm-10">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="national" ng-model="shipping" ng-change="datesChanged()">
                United States (+$50 shipping)
              </label>
            </div>
          </div>


          <div class="form-group">
            <label for="inputFullName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" ng-model="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail" placeholder="your@email.com" ng-model="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPhone" placeholder="333-444-5678" ng-model="phone">
            </div>
          </div>

          <div class="form-group">
            <label for="inputAddr1" class="col-sm-2 control-label">Address 1</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAddr1" placeholder="" ng-model="addressLine1">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddr2" class="col-sm-2 control-label">Address 2</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAddr2" placeholder="" ng-model="addressLine2">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUnit" class="col-sm-2 control-label">Unit/Apartment</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUnit" placeholder="" ng-model="addressUnit">
            </div>
          </div>
          <div class="form-group">
            <label for="inputZip" class="col-sm-2 control-label">Zipcode</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputZip" placeholder="" ng-model="zipcode">
            </div>
          </div>

        </div>

        <div class='alert alert-danger' ng-show="missingShippingFields">
          {{missingShippingFields}} required.
        </div>

      </div>

      <!-- CHECKOUT -->
      <div ng-show="currentStep() == 'checkout'">
        <h3>Checkout</h3>
        <p>Please take a moment to confirm your details.</p>
        <hr/>

        <div class='form-horizontal'>
          <div>

            <div class='row header'>
              <h4 class='col-md-12'>Printer Model and Dates</h4>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Printer Model:</div>
              <div class='col-sm-8'>{{quote.model}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Rental Dates</div>
              <div class='col-sm-8'>{{startDate | date: "M/dd/yyyy" }} for {{rentalDays}} days</div>
            </div>

            <hr/>
            <div class='row header'>
              <h4 class='col-md-12'>Personal Info and Shipping Address</h4>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Email</div>
              <div class='col-sm-8'>{{email}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Phone Number</div>
              <div class='col-sm-8'>{{phone}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Name</div>
              <div class='col-sm-8'>{{name}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Address Line 1</div>
              <div class='col-sm-8'>{{addressLine1}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Address Line 2</div>
              <div class='col-sm-8'>{{addressLine2}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Zipcode</div>
              <div class='col-sm-8'>{{zipcode}}</div>
            </div>

            <hr/>
            <div class='row header'>
              <h4 class='col-md-12'>Rental Cost</h4>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Rental Cost</div>
              <div class='col-sm-8'>${{quote.rental_cost}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Shipping</div>
              <div class='col-sm-8'>${{quote.shipping_cost}}</div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>Total</div>
              <div class='col-sm-8'>${{quote.total_cost}}</div>
            </div>
          </div>

          <hr/>

          <div ng-show="quote.promo_code.valid" class='alert alert-success'>
            Promo Code {{quote.promo_code.code}}: {{quote.promo_code.description}}
          </div>

          <div ng-show="quote.promo_code.error" class='alert alert-danger'>
            {{quote.promo_code.error}}
          </div>

          <div class="form-group">
            <label for="promoCode", class="col-sm-2 control-label">Promo Code</label>
            <div class="col-sm-5">
              <input type="text"
                class="form-control"
                id="promoCode"
                ng-model="promoCode">
            </div>
            <div class='col-sm-4'>
              <a href="" ng-click="applyPromoCode()">Apply</a>
            </div>
          </div>

          <h3>Credit Card</h3>


          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Card Number</label>
            <div class="col-sm-5">
              <input type="text"
                class="form-control"
                id="inputEmail3"
                placeholder="Card Number"
                size="20"
                data-stripe="number"
                ng-model="cardNumber">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">CVC</label>
            <div class="col-sm-2">
              <input type="text"
                class="form-control"
                id="inputEmail3"
                placeholder="CVC"
                size="4"
                data-stripe="cvc"
                ng-model="cardCVC">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Expiration</label>
            <div class="col-sm-2">
              <input type="text"
                class="form-control"
                id="inputEmail3"
                placeholder="MM"
                size="2"
                data-stripe="exp-month"
                ng-model="cardMonth">
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                id="inputEmail3"
                placeholder="YYYY"
                size="4"
                data-stripe="exp-year"
                ng-model="cardYear">
            </div>
          </div>

          <hr/>

          <h3>Terms and Conditions</h3>

          <div class='well tos-window'>
            <%= render partial: "/rentals/agreement_text" %>
          </div>
          <div>
            <%= link_to "View Full Terms of Service", agreement_rentals_path, target: :blank %>
          </div>
          <div>
             <input type="checkbox" name="tos" value="tos" ng-model="termsOfService">&nbsp;&nbsp;I agree to the Terms of Service.
          </div>

          <hr/>

          <div class='alert alert-warning' ng-show="missingFields">
            Looks like we're missing some info: {{missingFields}}
          </div>

          <div class="alert alert-warning" ng-show="paymentError">
            {{paymentError}}
          </div>

        </div>

      </div>

      <!-- BUTTON BAR -->
      <div>
        <div class='row' ng-show="firstStep()">
          <div class='col-sm-10 col-sm-offset-2'>
            <a href="" class='button button-small' ng-click="nextStep()">Rent a printer!</a>
          </div>
        </div>

        <div class='row' ng-hide="firstStep() || lastStep()">
          <div class='col-sm-3 col-sm-offset-2'>
            <a href="" class='button button-small' ng-click="nextStep()">Next</a>
          </div>
          <div class='col-sm-3'>
            <a href="" class='button-outline' ng-click="prevStep()">Back</a>
          </div>
        </div>

        <div class='row' ng-show="lastStep()">
          <div class='col-sm-3 col-sm-offset-2'>
            <a href="" class='button button-small' ng-click="rent()" ng-disable="submitting">
              <span ng-show="submitting">Submitting...</span>
              <span ng-hide="submitting">Rent It!</span>
            </a>
          </div>
          <div class='col-sm-4'>
            <a href="" class='button-outline' ng-click="prevStep()">Back</a>
          </div>
        </div>

      </div>
    </div>

    <div class='col-md-4'>
      <ul ng-hide="firstStep()" class='checkout-steps'>
        <li ng-class="currentStep() == 'time_duration' ? 'active' : ''">Rental Dates</li>
        <li ng-class="currentStep() == 'shipping' ? 'active' : ''">Shipping Info</li>
        <li ng-class="currentStep() == 'checkout' ? 'active' : ''">Checkout</li>
      </ul>
    </div>
  </div>

</div>


<%= content_for :javascript do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>
