$color_main_primary: #602020;
$color_main_secondary: #912f2f;
$color_main_light: #602020;
$color_main_dark: #912f2f;

$color_alternate_primary: #202020;
$color_alternate_secondary: #999999;

$color_background_gray: #EEEEEE;
