<div id="footer-white">
  <div class="container">
    <div class='row'>
      <div class='col-md-12'>
        <p class='text-center'>
          Question, comments, or help? Reach out to us at <%= mail_to "zach@rentabuild.com" %>.
        </p>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        Copyright © 2014.  
      </div>
    </div>
  </div>
</div>
